apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kube-app-operator-manager-role
rules:
- apiGroups:
  - apps.kube.com
  resources:
  - KubeApps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.kube.com
  resources:
  - kubeapp/finalizers
  verbs:
  - update
- apiGroups:
  - apps.kube.com
  resources:
  - kubeapp/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - watch
  - patch
  - delete
  - create 
  - update 

- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses 
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete

- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete  
 
