---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - apps.kube.com
  resources:
  - kubeapps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.kube.com
  resources:
  - kubeapps/finalizers
  verbs:
  - update
- apiGroups:
  - apps.kube.com
  resources:
  - kubeapps/status
  verbs:
  - get
  - patch
  - update
